<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tst/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="AmazonInstantAccess">
            <directory>./tst/Amazon/InstantAccess</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="build/log/junit.xml" logIncompleteSkipped="false" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Amazon/InstantAccess</directory>
            <exclude>
                <directory>./src/Amazon/InstantAccess/Log/Logger.php</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
